/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    background: #202020;
    padding: 30px 0 30px 0;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

.content-foo h4{
    color: white;
    border-bottom: 3px solid #0D6EFD;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.socialFooter {
    padding-right: 5%;
}


/* CONTAINER */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  height: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}



.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  min-height: 100vh;
}