body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-top: 0;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

label{
    /* center the label inside the box */
    display: block;
    text-align: center;
    margin: 1rem auto;

    
}

input[type="text"],
input[type="password"] {
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;   

}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* transform: translateY(-2px); */
}

input[type="text"]:hover,
input[type="password"]:hover {
  background-color: #ddd;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}

.register-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.register-button:hover {
  background-color: #3e8e41;
}

input[type="submit"] {
  background-color: #8bb8e8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
    display: block;
    margin: 1% auto;

}

input[type="submit"]:hover {
  background-color: #307fe2;
}

@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}
